psycopg2-binary==2.8.5
pygeohash==1.2.0
pytz==2020.1
scipy==1.4.1
Shapely==1.7.0
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
multidict==4.7.6
numpy==1.18.5
pandas==1.0.4
six==1.15.0
tqdm==4.46.1
yarl==1.4.2
matplotlib==3.2.1