
service: move-up-model

plugins:
  - serverless-package-python-functions

custom:
  pkgPyFuncs:
    buildDir: _build
    globalRequirements:
      - ./requirements.txt
    cleanup: true

provider:
  name: aws
  runtime: python3.8
  iamRoleStatements:
     - Effect: "Allow"
       Action:
         - "lambda:*"
       Resource:
         - arn:aws:lambda:*:*:*
     - Effect: "Allow"
       Action:
         - "apigateway:*"
       Resource:
         - arn:aws:apigateway:*:*:*

functions:
  move_up:
    handler: handler.move_up
    package:
      include:
        - move_up
      artifact: ${self:custom.pkgPyFuncs.buildDir}/function1.zip
    events:
      - http:
          path: move-up-model
          method: post
