
service: move-up-model

plugins:
  - serverless-python-requirements

package:
  individually: false
  zip: true
  slim: true

custom:
  pythonRequirements:
    noDeploy:
      - __pycache__
    dockerizePip: non-linux
    pythonBin: /usr/local/bin/python3.8
    dockerEnvVars:
      - http_proxy
      - https_proxy

provider:
  name: aws
  runtime: python3.8
  iamRoleStatements:
     - Effect: "Allow"
       Action:
         - "lambda:*"
       Resource:
         - arn:aws:lambda:*:*:*
     - Effect: "Allow"
       Action:
         - "apigateway:*"
       Resource:
         - arn:aws:apigateway:*:*:*

functions:
  move_up:
    handler: handler.move_up
    timeout: 80
    environment:
      MAPBOX_API_KEY: ${env:MAPBOX_API_KEY}
    events:
      - http:
          path: move-up-model
          method: post
          cors: true