
service: move-up-model

plugins:
  - serverless-python-requirements

package:
  individually: false
  exclude:
    - './node_modules/**'

custom:
  pythonRequirements:
    dockerizePip: non-linux
    pythonBin: /usr/bin/python3.5
    zip: true

provider:
  name: aws
  runtime: python3.8
  iamRoleStatements:
     - Effect: "Allow"
       Action:
         - "lambda:*"
       Resource:
         - arn:aws:lambda:*:*:*
     - Effect: "Allow"
       Action:
         - "apigateway:*"
       Resource:
         - arn:aws:apigateway:*:*:*

functions:
  move_up:
    handler: handler.move_up
    events:
      - http:
          path: move-up-model
          method: post
