
service: move-up-model

provider:
  name: aws
  runtime: python3.8
  iamRoleStatements:
     - Effect: "Allow"
       Action:
         - "lambda:*"
       Resource:
         - arn:aws:lambda:*:*:*
     - Effect: "Allow"
       Action:
         - "apigateway:*"
       Resource:
         - arn:aws:apigateway:*:*:*

functions:
  move_up:
    handler: handler.move_up
    events:
      - http:
          path: move-up-model
          method: post
